*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    grid-area: header;
}

.aside{
    grid-area: aside;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 1fr 6fr;
}

.top{
    display: flex;
    align-items: center;
    background-color: rgb(165, 164, 164);
    padding: 5px;
    color: white;
    justify-content: center;
    max-height: 5rem;
}

.logo-top img{
    width: 50%;
    justify-content: center;
}

.text-top{
    font-size: max(1rem);
    text-align: center;
}

/* Menú categorías*/
.aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid rgb(141, 140, 140);
}


.aside a{
    text-decoration: none;
    color: black;
}

.title-categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 3rem;
    background-color: #2DB3E0;
    padding-left: 1rem;
    padding-right: 1rem;
}



.item-categorias{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: rgb(113, 113, 113);
    padding-left: 1rem;
    border-bottom: 1px solid #6ed8fc;
}


.aside-menu li:hover{
    background-color: #6ed8fc;
    color: white;
    font-size: max(1.15em);
}

/* Media Queries ASIDE --La guía dice que use sobre los 576px, pero para este caso lo vi mejor sobre los 768*/
@media (max-width: 768px){
    .item-categorias, .title-categorias, .aside-menu li:hover{
        padding-left: 0;
        padding-right: 0;
        font-size: max(0.7rem);
        text-align: center;
        justify-content: center;    
    }

    
}





/* Main Cards*/



.cards-main{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    padding: 2rem;
}

/* Media Queries MAIN --La guía dice que use sobre los 576px, pero para este caso lo vi mejor sobre los 768*/
@media (max-width: 768px){
    .cards-main{
        grid-template-columns: auto auto; 
    }
    p, h4{
        font-size: max(0.75rem);
    }
}

@media (max-width: 576px){
    .cards-main{
        grid-template-columns: auto; 
    }
    p, h4{
        font-size: max(0.75rem);
    }
}






.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 2px 2px rgba(75, 75, 75, 0.23);
    border-radius: 0 0 10px 10px;
}



.card img{
    max-width: 100%;
    height: auto;
    object-fit:cover;
    vertical-align: top;
}

.card a{
    text-decoration: none;
    color: rgb(121, 121, 121);
}

.text-card{
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: center;
    align-items: center;
}




/* Footer*/
.footer{
    display: flex;
    background-color: rgb(156, 155, 155);
    min-width: 100%;
    min-height: 3rem;
    justify-content: center;
    color: white;
}

.footer-icon{
    width: 2rem;
}

.footer a{
    text-decoration: none;
}

.footer-link{
    display: flex;
    align-items: center;
    color: white;
}
